.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

#Ignore csv files in the inputs folder
simple/*.csv
RFR/inputs_gcc/*.csv
RFR/inputs_weather/**/*.csv
RFR/PEG_RFR/**/*.csv
RFR/PEG_RFR0/**/*.csv
RFR/PEG_RFR2/**/*.csv
RFR/PEG_FUSION_0/**/*.csv
RFR/PEG_FUSION_1/**/*.csv

