.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

#Ignore csv files in the inputs folder
simple/*.csv
ML/inputs_gcc/*.csv
ML/inputs_weather/*/*.csv
ML/PEG_RFR/**/*.csv
ML/PEG_RFR0/**/*.csv
ML/PEG_RFR2/**/*.csv
ML/PEG_FUSION_0/**/*.csv
ML/PEG_FUSION_1/**/*.csv
